* {
   color: white;
   font-family: "Cascadia Code", Georgia, Times, 'Times New Roman', serif;
}

body {
   background-image: url(../images/rainbow-vortex.svg);
   /* background by SVGBackgrounds.com */
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}

/* HEADINGS */
h1 {
   font-size: 0;
   width: 1px;
   height: 1px;
   display: inline-block;
   overflow: hidden;
   position: absolute !important;
   border: 0 !important;
   padding: 0 !important;
   margin: 0 !important;
   clip: rect(1px, 1px, 1px, 1px);
   /* Credit: https://wdn.unl.edu/page-title-h1-best-practices */
   /* There is no logical place to put a h1 heading, but to keep with accessibility and SEO best practices this adds an unseen h1 */
}

h2 {
   font-size: 40px;
   display: inline-flex;
   border-bottom: 10px solid;
   border-image-slice: 1;
   border-width: 5px;
   border-image-source: linear-gradient(to right, red, purple);
   width: 225px;
   height: fit-content;
   justify-content: center;
   align-self: flex-end;
   margin: 0px 0px 40px 0px;
   padding: 10px;
}

/* HEADER - SOCIALS AND PAGE NAVIGATION */
header {
   padding: 5px 0px;
   position: fixed;
   top: 0;
   display: flex;
   height: 60px;
   background-color: rgba(0, 0, 0, 0.65);
   backdrop-filter: blur(20px);
   z-index: 9;
}

#socials {
   display: inline-flex;
   vertical-align: middle;
   align-items: center;
}

#socials ul {
   display: flex;
}

/* Width setting so that icons don't shift when they expand */
#socials li {
   width: 60px;
   height: 60px;
   display: inline-flex;
}

#socials a {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Fixed Icon Size */
#socials img {
   width: 42px;
   height: 42px;
}

/* Icon Expand when Hovered */
#socials img:hover {
   width: 46px;
   height: 46px;
}

/* NAVIGATION BAR IN HEADER */
nav {
   display: inline-flex;
   justify-content: end;
   align-items: center;
}

nav ul {
   padding: 0px;
   margin: 0px;
}

nav li {
   margin: 0px 15px;
   color: white;
   display: inline-flex;
}

nav a {
   text-decoration: none;
   font-size: 22px;
   color: white;
}

nav a:link {
   color: white;
}

nav a:hover {
   color: orange;
}

/* PROFILE SECTION - Profile Picture and About Me */
#profile {
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
}

#profilepic {
   display: inline-flex;
   justify-content: end;
}

#profilepic img {
   width: 300px;
   height: 300px;
}

#aboutme {
   color: white;
   display: block;
   align-self: center;
}

#aboutme h1,
#aboutme p {
   display: flex;
   justify-content: center;
}

#aboutme p span {
   color: orange;
}

#aboutme .name {
   font-size: 40px;
   margin: 10px 0px 5px 0px;
}

.mystory {
   padding: 30px 30px 0px 30px;
}

/* SKILLS SECTION */
#skills {
   display: grid;
   height: 100vh;
}

#skills section {
align-self: flex-start;
}

#skills img {
   height: 100px;
   width: auto;
   margin: 10px;
   padding: 10px;
}

footer {
   margin: 100px;
}