* {
   color: white;
   font-family: "Cascadia Code", Georgia, Times, 'Times New Roman', serif;
}

header {
   padding: 10px 0px;
   position: fixed;
   top: 0;
   display: flex;
   height: 75px;
   background-color: rgba(0, 0, 0, 0.65);

}

header div {
   display: inline-flex;
   vertical-align: middle;
   align-items: center;
}

h1 {
   margin: 0px;
}

h2 {
   display: flex;
   color: white;
   border-bottom: 10px solid;
   border-image-slice: 1;
   border-width: 5px;
   border-image-source: linear-gradient(to right, red, purple);
   width: 200px;
   justify-content: center;
}

header li {
   display: inline-flex;
}

body {
   background-color: #301948;
   background-image: url(../images/rainbow-vortex.svg);
   /* background by SVGBackgrounds.com */
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}

.sociallinks {
   margin: 0px;
}

/* Width setting so that icons don't shift when they expand */
.sociallinks li {
   width: 50px;
}

/* Fixed Icon Size */
.sociallinks img {
   width: 42px;
   height: 42px;
}

/* Icon Expand when Hovered */
.sociallinks img:hover {
   width: 46px;
   height: 46px;
}

/* NAVIGATION BAR IN HEADER */
nav {
   display: inline-flex;
   justify-content: end;
   align-items: center;
   padding-right: 20px;
}

nav ul {
   padding: 0px;
   margin: 0px;
}

nav li {
   margin: 0px 15px;
   color: white;
}

nav a {
   text-decoration: none;
   font-size: 22px;
   color: white;
}

nav a:link {
   color: white;
}

nav a:hover {
   color: orange;
}

#profile {
   display: flex;
   margin: 200px 0px 150px 0px;
}

.profilepic {
   display: inline-flex;
   justify-content: end;

}

.profilepic img {
   width: 300px;
   height: 300px;
}

.aboutme {
   color: white;
   display: block;
   align-self: center;
}

.aboutme h1,
.aboutme p {
   display: flex;
   justify-content: center;
}

.aboutme p span {
   font-family: "Cascadia Code";
   color: orange;
}

.mystory {
   padding: 30px;
}

#skills {
   display: flex;
   justify-content: center;
}

#skills img {
   height: 100px;
   width: auto;
   margin: 10px;
}

/* TODO Solidify Grid so expanding photo doesnt cause bouncing */
#skills img:hover {
   height: 100px;
   width: auto;
}

.sectiontitle {
   display: flex;
   justify-content: center;
}

footer {
   margin: 100px;
}